
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#open {
  transform: rotate(-25deg);
  transition: transform 0.5s linear;
}

#rotateCircleNav {
  transform: rotate(-70deg);
}

body {
  overflow-x: hidden;
  width: '100%';
  background: #333;
}